html {
    background: linear-gradient(-130deg, #6b6bff, #89dbff);
}

#hexa {
    position: fixed;
}

.hexagonTile {
    height: 350px;
    width: 350px;
    
    margin: 0px;
    padding: 0px;
    
    transition-duration: 0.15s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#TileCenter {
    z-index: 10;
    
    position: fixed;
    
    top: 30%;
    left: 40%;
}

#Tile1 {
    z-index: 7;
    
    position: fixed;
    
    top: 3%;
    left: 31%;
}

#Tile2 {
    z-index: 6;
    
    position: fixed;
    
    top: 3%;
    left: 49%;
}

#Tile3 {
    z-index: 5;
    
    position: fixed;
    
    top: 30%;
    left: 58%;

}

#Tile4 {
    z-index: 4;
    
    position: fixed;
    
    top: 57.5%;
    left: 49%;
}

#Tile5 {
    z-index: 3;
    
    position: fixed;
    
    top: 57.5%;
    left: 31%;
}

#Tile6 {
    z-index: 2;
    
    position: fixed;
    
    top: 30%;
    left: 22%;
}

#assembly {
    position: fixed;
}

.hexagonTile:hover {
    transition-duration: 0.15s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#version {
    position: fixed;
    
    top: 96%;
    
    left: 97.5%;
    
    font-family:sans-serif;
    
    color: white;
}